* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  width: 100%;
  margin-top: 5rem;
}

.title {
  font-size: 2rem;
  margin-left: 4rem;
  margin-bottom: 3rem;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
}

.result-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-container {
  display: flex;
  justify-content: space-between;

  .head {
    text-transform: capitalize;
  }

  .btn {
    text-transform: capitalize;
    background-color: #fff;
    padding: 0.1rem 0.5rem;
    border: 1px solid;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  }
}

.scores-container {
  width: 100%;
  border: 1px solid;

  .scores {
    padding: 0.5rem;

    .name {
      display: inline-block;
      text-transform: capitalize;
      margin-right: 1rem;
    }
  }

  .scores:nth-child(even) {
    background-color: lightgray;
  }
}

.user-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .user-info-header {
    text-transform: capitalize;
  }
}

.form {
  width: 100%;
  position: relative;

  .form-input {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border: 1px solid #000;
    padding: 0.5rem;
  }

  .form-input::placeholder {
    font-weight: 400;
    color: #000;
  }

  .button {
    border: 1px solid;
    float: right;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-transform: capitalize;
    padding: 0.1rem 0.5rem;
  }

  .alert-msg {
    display: none;
    color: #bde052;
  }

  .alert-msg.active {
    display: inline-block;
  }
}
